<div class="page-head" style="background-image: url('assets/images/page-head-1.jpg');">
  <div class="container">
    <h2 class="page-title">Board Members</h2>
  </div>
</div>
<main class="main-content">
  <div class="fullwidth-block">
    <div class="container">
      <div class="row">
        <div class="content col-md-8">
          <h2 class="section-title">Meet the Borad Members</h2>
          <div class="row">
            <div class="family">
                                   <div style="background-image:url(assets/images/joypoommen.jpg)" class="news-img"></div>
<!--										<img src="assets/images/joypoommen.jpg" alt="" class="family-image">-->
              <h3 class="family-name">Rev Dr Joy P Oommen</h3>
              <small>General Overseer</small>
            </div>
            <div class="family">
                                   <div style="background-image:url(assets/images/gracekoommen.jpg)" class="news-img"></div>
<!--										<img src="assets/images/gracekoommen.jpg" alt="" class="family-image">-->
              <h3 class="family-name">Mrs. Grace K Oommen</h3>
              <small>Evangelism Director</small>
            </div>
            <div class="family">
                                  <div style="background-image:url(assets/images/user-male-icon.png)" class="news-img"></div>
<!--										<img src="assets/images/user-male-icon.png" alt="" class="family-image">-->
              <h3 class="family-name">Rev Dr Titus P Oommen</h3>
              <small>Assistant Oveseer</small>
            </div>
                                <div class="family">
                                       <div style="background-image:url(assets/images/ckmathew.jpg)" class="news-img"></div>
<!--										<img src="assets/images/ckmathew.jpg" alt="" class="family-image">-->
              <h3 class="family-name">Rev C K Mathew</h3>
              <small>President</small>
            </div>
                                <div class="family">
                                      <div style="background-image:url(assets/images/chacko.jpg)" class="news-img"></div>
<!--										<img src="assets/images/chacko.jpg" alt="" class="family-image">-->
              <h3 class="family-name">Rev Chacko</h3>
              <small>Vice President</small>
            </div>
            <div class="family">
                                  <div style="background-image:url(assets/images/moaniyan.jpg)" class="news-img"></div>
<!--										<img src="assets/images/moaniyan.jpg" alt="" class="family-image">-->
              <h3 class="family-name">Rev M O Aniyan</h3>
              <small>General Secretory</small>
            </div>
            <div class="family">
                                  <div style="background-image:url(assets/images/johnypaul.jpg)" class="news-img"></div>
<!--										<img src="assets/images/johnypaul.jpg" alt="" class="family-image">-->
              <h3 class="family-name">Johny Paul</h3>
              <small>General Treasurer</small>
            </div>
            
            <div class="family">
                                  <div style="background-image:url(assets/images/bijumathew.jpg)" class="news-img"></div>
<!--										<img src="assets/images/bijumathew.jpg" alt="" class="family-image">-->
              <h3 class="family-name">Rev Biju Mathew</h3>
              <small>Sunday School , National Director</small>
            </div>
                              <div class="family">
                                  <div style="background-image:url(assets/images/sheelu.jpg)" class="news-img"></div>
<!--										<img src="assets/images/sheelu.jpg" alt="" class="family-image">-->
              <h3 class="family-name">Rev Sheelu Cheriyan</h3>
              <small>Christ Soldiers , National President</small>
            </div>
                                 <div class="family">
                                     <div style="background-image:url(assets/images/jojo.jpg)" class="news-img"></div>
<!--										<img src="assets/images/jojo.jpg" alt="" class="family-image">-->
              <h3 class="family-name">Pr Jojo P George</h3>
              <small>Sunday School , National Director</small>
            </div>
                                <div class="family">
                                      <div style="background-image:url(assets/images/shijucr.jpg)" class="news-img"></div>
<!--										<img src="assets/images/shijucr.jpg" alt="" class="family-image">-->
              <h3 class="family-name">Pr Shiju C R</h3>
              <small>Christ Soldiers , National Secretory</small>
            </div>
            <div class="family">
                                  <div style="background-image:url(assets/images/jibin.jpg)" class="news-img"></div>
<!--										<img src="assets/images/jibin.jpg" alt="" class="family-image">-->
              <h3 class="family-name">Dr Jibin George</h3>
              <small>Christ Soldiers , National Tresurer</small>
            </div>
                              <div class="family">
                                  <div style="background-image:url(assets/images/sibijohn.jpg)" class="news-img"></div>
<!--										<img src="assets/images/sibijohn.jpg" alt="" class="family-image">-->
              <h3 class="family-name">Pr Sibi John</h3>
              <small>Sunday School , National Secretory</small>
            </div>
                               <div class="family">
                                   <div style="background-image:url(assets/images/rajeev.jpg)" class="news-img"></div>
<!--										<img src="assets/images/rajeev.jpg" alt="" class="family-image">-->
              <h3 class="family-name">Pr Rajeev George</h3>
              <small>Sunday School , National Treasurer</small>
            </div>
          
          </div>
          
        </div>
        <div class="sidebar col-md-3 col-md-offset-1">
          <app-sidebar-content></app-sidebar-content>
        </div>

      
      </div>
    </div>
  </div>
</main> <!-- .main-content -->

